# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
*.sqlite3-journal
db.sqlite3
media/
staticfiles/

# Django migrations (optional, can commit if you want)
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Pipenv / Poetry (optional)
Pipfile.lock
poetry.lock

app/.DS_Store
app/.env
app/node_modules/

# React Router
app/.react-router/
app/build/

